/* Style for the chat container */
.messages-wrapper {
  display: flex;
  flex-direction: column;
}

/* Style for the chat bubbles */
.chat-bubble {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  word-wrap: normal; /* Wrap long words if they don't fit */
}

/* Style for messages sent by the current user (on the right) */
.chat-bubble.right {
  background-color: lightseagreen; /* Adjust the background color as needed */
  color: white; /* Adjust the text color as needed */
}

/* Style for messages sent by others (on the left) */
.chat-bubble.left {
  background-color: whitesmoke; /* Adjust the background color as needed */
  color: black; /* Adjust the text color as needed */
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #1c2c4c;
}
.user-message {
  word-break: break-all;
}
